{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}
 <body>
    <div class="container">
        <div class="col s12">
            <div class="card"><div class="card-content">
                <blockquote><h3>Обмен валют</h3></blockquote>
                {% load material_form %}
                <form method="post" class="post-form">
                    {% csrf_token %}
                    {% form form=tform %}{% endform %}
                    <button type="submit" name="_submit" class="btn">Перевести в рубли</button>
                </form>
                <h6>{{ tresult }} </h6>
            </div>
        </div>
    </div>
</body>